.footer-cont {
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--bs-gray-200);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: var(--bs-body-bg);
  max-width: var(--max-width-mobile);
  margin: auto;
  height: 55px;
  button {
    border: 0;
    background-color: inherit;
    outline: 0;
    font-size: 25px;
  }
}
